---
nav: events
title: "Events"
---

{%- assign events = site.events | sort: 'time.start' -%}
{%- assign prevYear = 0 -%}
{%- assign currentEvents = true -%}

<h3>Upcoming events</h3>
{% for event in events reversed -%}
  {%- assign year = event.time.start | date: "%Y" -%}

  {%- if currentEvents -%}
    {%- unless event.upcoming -%}
      {%- assign currentEvents = false -%}
      {% if prevYear == 0 -%}
        <p>We haven't announced any of our future events yet. Stay tuned for
           further details.</p>
      {%- endif %}
      <h3>Past events</h3>
      {%- assign prevYear = 0 -%}
    {%- endunless -%}
  {%- endif -%}

  {% unless year == prevYear or currentEvents -%}
    <h4>{{ year }}</h4>
  {%- endunless %}
  <a href="{{ '/events/' | append: event.slug | relative_url }}" class="plain">
    <div class="card event-card">
      {%- assign attrKeys = '' | split: '' -%}
      {%- assign attrVals = '' | split: '' -%}
      {%- assign attrKeys = attrKeys | push: 'class' -%}
      {%- assign attrVals = attrVals | push: 'headshot' -%}
      {%- assign img = 'events/' | append: event.slug | append: '/thumbnail' -%}
      {% include img.html
                 img=img
                 imgDefault='events/default/thumbnail'
                 alt=event.title
                 attrKeys=attrKeys
                 attrVals=attrVals
       %}
      {% assign eventType = site.data['event-types'][event.type] -%}
      <div class="text">
        <h5><span class="muted">{{ eventType.name }}:</span> {{ event.title | smartify }}</h5>
        <p>{{ event.description | markdownify }}</p>
      </div>
    </div>
  </a>
  {%- assign prevYear = year -%}
{%- endfor %}

<h6>Something missing?</h6>
<p>We&apos;re still working on updating our archives. In the meantime, you can find videos of our older talks <a href="https://www.youtube.com/results?search_query=TEDxWarwick" target="_blank">on YouTube</a>.</p>
