---
nav: get-involved
title: "Get Involved"
---

{%- assign openPositions = '' | split: '' -%}
{%- assign futurePositions = '' | split: '' -%}
{%- assign closedPositions = '' | split: '' -%}

{%- for position in site.recruitment -%}
  {%- assign status = position.status -%}
  {%- if status == 'open' -%}
    {%- assign openPositions = openPositions | push: position -%}
  {%- elsif status == 'future' -%}
    {%- assign futurePositions = futurePositions | push: position -%}
  {%- elsif status == 'closed' -%}
    {%- assign closedPositions = closedPositions | push: position -%}
  {%- endif -%}
{%- endfor -%}

{%- assign openPositions = openPositions | sort: 'closes' -%}
{%- assign futurePositions = futurePositions | sort: 'title' -%}
{%- assign closedPositions = closedPositions | sort: 'title' -%}

<h3>Get Involved</h3>
{% if openPositions.size > 0 -%}
  <section id="open-positions">
    {% for position in openPositions -%}
      <h5>{{ position.title }}</h5>
      <p>{{ position.brief.open | markdownify }}</p>
      <a href="{{ '/get-involved/' | append: position.slug | relative_url }}" class="btn btn-primary">Apply now</a>
    {%- endfor %}
  </section>
{%- else -%}
  <p>We are not currently accepting applications for any positions.</p>
{%- endif %}

{% if futurePositions.size > 0 -%}
  <section id="future-positions" class="muted">
    <h4>Upcoming positions</h4>
    {% for position in futurePositions -%}
      <h6>{{ position.title }}</h6>
      <p>{{ position.brief.future | markdownify }}</p>
    {%- endfor %}
  </section>
{%- endif %}

{% if closedPositions.size > 0 -%}
  <section id="closed-positions" class="muted">
    <h4>Filled positions</h4>
    {% for position in closedPositions -%}
      <h6>{{ position.title }}</h6>
      <p>{{ position.brief.closed | markdownify }}</p>
    {%- endfor %}
  </section>
{%- endif %}
