// Remember to override `a` styles from _text.scss

@mixin btn {
  @include button-text;

  display: inline-block;
  text-align: center;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  margin: 0.5rem;
  padding: 0.6rem 0.8rem;
  border-radius: 0.25rem;

  transition: hover-transition(background-color);

  border: none;
  color: $color-btn-primary !important;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

@mixin btn-primary {
  background-color: $color-btn-primary;
  color: white !important;

  @include elevate(2);
  transition: hover-transition(background-color),
              hover-transition(box-shadow);

  &:hover, &:focus {
    background-color: transparentize($color-btn-primary, 0.05);
    border-color: transparentize($color-btn-primary, 0.05);
    @include elevate(4);
  }

  &:active {
    background-color: transparentize($color-btn-primary, 0.2);
    border-color: transparentize($color-btn-primary, 0.2);
  }
}

@mixin btn-outline {
  $border-width: 1rem / 16;
  padding: 0.6rem - $border-width 0.8rem - $border-width;
  border: $border-width solid $color-btn-outline;

  &:hover, &:focus {
    background-color: transparentize($color-btn-primary, 0.85);
  }

  &:active {
    background-color: transparentize($color-btn-primary, 0.7);
  }

  &:visited {
    color: $color-btn-primary;
  }
}

@mixin btn-text {
  &:hover, &:focus {
    background-color: transparentize($color-btn-primary, 0.9);
  }

  &:active {
    background-color: transparentize($color-btn-primary, 0.8);
  }
}

$export: true !default;
@if ($export) {
  .btn { @include btn }
  .btn-primary { @include btn-primary }
  .btn-outline { @include btn-outline }
  .btn-text { @include btn-text }
}
