// Remember to override `a` styles from _text.scss

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  margin: 0.5rem;
  border-radius: 0.25rem;

  transition: hover-transition(background-color);

  border: none;
  color: $color-btn-primary !important;

  &:focus {
    outline: none;
  }
}

.btn-primary {
  padding: 0.6rem 0.8rem;

  background-color: $color-btn-primary;
  color: white !important;

  @include elevate(2);
  transition: hover-transition(background-color),
              hover-transition(box-shadow);

  &:hover {
    background-color: transparentize($color-btn-primary, 0.05);
    border-color: transparentize($color-btn-primary, 0.05);
    @include elevate(4);
  }

  &:active {
    background-color: transparentize($color-btn-primary, 0.2);
    border-color: transparentize($color-btn-primary, 0.2);
  }
}

.btn-outline {
  $border-width: 1rem / 16;
  padding: 0.6rem - $border-width 0.8rem - $border-width;
  border: $border-width solid $color-btn-outline;

  &:hover {
    background-color: transparentize($color-btn-primary, 0.85);
  }

  &:active {
    background-color: transparentize($color-btn-primary, 0.7);
  }

  &:visited {
    color: $color-btn-primary;
  }
}

.btn-text {
  padding: 0.6rem 0.3rem;

  &:hover {
    background-color: transparentize($color-btn-primary, 0.9);
  }

  &:active {
    background-color: transparentize($color-btn-primary, 0.8);
  }
}
