.banner {
  .banner-img {
    width: 100%;
    display: block;
  }

  &.banner-backfill {
    overflow: hidden;

    .banner-img {
      @include elevate(8);
    }
  }
}

.card.event-card {
  $card-height: 150px;

  height: $card-height;
  margin-bottom: 35px;

  flex-direction: row;

  img {
    flex: 0 0 ($card-height * (1920 / 1080));
  }

  @media (max-width: 960px){
    & {
      flex-direction: column;
      height: 100%;
    }
    img {
      flex: auto;
    }

  }
}

.speakers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-content: space-between;
  margin: 1rem 0;
}
