.form-embed {
  position: relative;
  border: none;

  .loading-overlay {
    display: none;
    padding-top: 2rem;
    letter-spacing: 1px;
    text-align: center;
    color: #444;

    .timeout-content {
      visibility: hidden;
      opacity: 0;
    }
  }

  &.loading {
    margin-top: 2rem;

    .loading-overlay {
      margin: 0;
      border-radius: 10px;

      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background-color: rgba(0, 0, 0, 0.5); */

      background-color: white;
      background-image: linear-gradient(296.565051177deg,  /* 360 - atan(20 / 10) */
                          rgba(0, 0, 0, 0.2) 25%,
                          rgba(0, 0, 0, 0.5) 25%,
                          rgba(0, 0, 0, 0.5) 50%,
                          rgba(0, 0, 0, 0.2) 50%,
                          rgba(0, 0, 0, 0.2) 75%,
                          rgba(0, 0, 0, 0.5) 75%,
                          rgba(0, 0, 0, 0.5));

      background-size: 10rem 20rem;

      @keyframes stripes {
        from { background-position: 0 0; }
        to { background-position: 20rem 0; }
      }

      @keyframes timeout-overlay {
        to { padding-top: 1.5rem; }
      }

      $time: $hover-transition-time * 2;
      $curve: $hover-transition-curve;

      animation: stripes 10s linear infinite,
                 $time $curve 2s 1 normal forwards running timeout-overlay;

      .loading-text {
        @include h1;

        @keyframes timeout-text {
          to { @include h2; }
        }

        animation: $time $curve 2s 1 normal forwards running timeout-text;
      }

      .timeout-content {
        @keyframes timeout-content {
          to { visibility: visible; opacity: 1; }
        }

        animation: $time $curve 2s 1 normal forwards running timeout-content;
      }

      .timeout-btn:not(:hover) {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .podio-webform-frame {
    width: 100%;
    border: none;
    overflow: scroll !important;
    background: transparent;

    transition: height 0.5s ease-in-out;
  }
}
