header {
  $bottom-border-size: 1px;

  height: 120px;
  background-color: $color-header;
  border-bottom: $bottom-border-size solid $color-header-underscore;

  transition: hover-transition(border-bottom),
              hover-transition(box-shadow);


  @media (max-width: 960px){
    & {
      height: inherit;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: row;

    @media (max-width: 960px){
      & {
        flex-direction: column;
      }
    }
  }

  .brand {
    a {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    img {
      flex: 1;
      height: 102px;

      // MS Edge doesn't like unbounded SVG images.
      // This value was derived empirically using Chrome 69.
      max-width: 501px;

      @media (max-width: 960px){
        & {
          height: 38px;
          margin: 12px 0px;
          max-width: initial;
        }
      }

    }
  }

  button {
    border: transparent;
    font-size: 22px;
    position: absolute;
    right: 30px;
    top: 18px;
    padding: 0px;
    display: none;
    cursor: pointer;
    background-color: transparent;

    @media (max-width: 960px){
      & {
        display: block;
      }
    }
  }

  .nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 2em;

    @media (max-width: 960px){
      & {
        margin-left: 0px;
        display: none;
      }
    }
  }


  .cta {
    flex: 1;
    text-align: right;
    overflow: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;

    @media (max-width: 960px){
      text-align: left;
    }
  }

  nav {
    @include font(menu);

    text-align: right;

    @media (max-width: 960px){
      & {
        text-align: left;
        margin-left: 0em;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      @media (max-width: 960px){
        & {
          flex-direction: column;
        }
      }
    }

    li {
      display: block;
    }

    @mixin underscore-transition {
      $duration: 0.2s;
      $timing: ease;
      transition: padding-bottom $duration $timing,
                  border-bottom-width $duration $timing;
    }

    a {
      padding: 1em 0.8em;
      display: inline-block;
      color: $color-nav !important;
      text-decoration: none;
      // margin-bottom: 0.25em;
      text-align: center;
      border-bottom: 0 solid $color-nav-active;

      @include underscore-transition;

      @mixin active {
        color: $ted-red !important;
        border-bottom-width: 0.25em;
        padding-bottom: 1em - 0.25em;
      }

      &:hover {
        @include active;
        @include underscore-transition;
      }

      &.current {
        @include active;
        font-weight: bold;
      }

      /**
       * Prevents slight change in positioning with font-weight change
       * https://stackoverflow.com/a/20249560
       */
      &::after {
        content: attr(title);
        display: block;
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }

  &.header-small {
    box-shadow: 0 1px 3px $color-header-shadow;
    border-bottom: 0 solid transparent;

    height: inherit;
    position: fixed;
    top: 0;
    z-index: 100;

    .brand img {
      height: 38px;

      // MS Edge doesn't like unbounded SVG images.
      // This value was derived empirically using Chrome 69.
      max-width: 187px;
    }

    .nav {
      flex-direction: row;
      margin-left: 0;
    }

    .cta {
      margin: auto 1em;
      text-align: center;
      padding-right: 0;
    }
  }
}