.segment {
  height: 200px;

  overflow: hidden;
  position: relative;

  @include overlay {
    background-repeat: no-repeat;
    transform: scale(1);
    transition: hover-transition(transform);
    z-index: -1;
  }

  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //
  //   background-repeat: no-repeat;
  //   transform: scale(1);
  //   transition: hover-transition(transform);
  // }

  &:hover::before {
    transform: scale(1.01);
  }

  h2, h3 {
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 0 0 0.2em #666666;
  }

  .container {
    height: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
