/***********************
 * Fixed-width content *
 ***********************/

header, main, footer {
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;

  @media (max-width: 960px){
    padding: 0px 20px;
  }
}

section {
  margin-top: 4rem;
}

/*****************
 * Sticky footer *
 *****************/

body #content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: 5em;
}

@media (max-width: 960px){
  .container {
    width: 100%;
  }
}