@function hover-transition($prop) {
  @return #{"#{$prop} #{$hover-transition-time} #{$hover-transition-curve}"};
}

@mixin overlay {
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    @content;
  }
}

@mixin muted {
  color: $color-muted;
}

$export: true !default;
@if ($export) {
  .muted { @include muted }
}
