.card.partner-card {
  height: 118px;

  img {
    width: auto;
    margin: 10px;
  }
}

.partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  justify-content: space-between;
  margin: 1rem 0;
}

.partner-large {
  position: relative;

  .logo-inset {
    float: left;
    height: 9rem;
    margin: 0.25rem 0.5rem 0.25rem 0;
  }
}
