/*
 * The content of this file is designed as an OVERRIDE for Podio's Flatly
 * theme. Hacky workarounds are encouraged here, since there is little hope for
 * sane DOM structure.
 *
 * As a rule of thumb, use as many nested class selectors as sanely possible
 * to ensure a high specificity[1]. Avoid !important unless strictly necessary.
 *
 * [1]: https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity
 */

.webforms {
  .webforms__field {
    position: relative;

    .webforms__label {
      @include h6;
    }

    .help-block {
      @include sh1;
    }

    .validation-group {
      margin-top: 0.5rem;
    }

    // All form fields
    .form-group {
      input,
      textarea,
      select {
        border-width: 1px;
        transition: hover-transition(border);
        // border-color: $color-muted;
      }

      textarea {
        box-sizing: border-box;
      }

      input:focus,
      textarea:focus,
      select:focus {
        border-width: 2px;
        // border-color: black;
      }

      input:hover:valid,
      textarea:hover:valid,
      select:hover:valid {
        // border-color: black;
      }

      input:invalid,
      textarea:invalid,
      select:invalid {
        border-width: 2px;
        border-color: $ted-red;
      }
    }

    // Grouped form fields
    .phone-field,
    .email-field,
    .link-field,
    .file-field {
      .form-group {
        .field-add-another {
          @include btn;
          @include btn-text;

          margin-right: 0;
        }

        .field-remove {
          color: $ted-red;
          text-decoration: none;
          outline: 0;
        }

        &:last-of-type {
          text-align: right;
        }

        &:nth-last-of-type(2) {
          margin-bottom: 0 !important;
        }
      }
    }

    // File upload *** HERE BE (HACKY) DRAGONS ***
    .file-field {
      .form-group:not(:last-of-type) {
        display: block;
        position: relative;
        overflow: hidden;

        width: 100%;
        height: 45px;

        @include btn;
        @include btn-outline;

        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        border-color: #dce4ec;

        &:hover {
          border-width: 2px;
        }

        transition: hover-transition(background-color),
                    hover-transition(border);

        @include overlay {
          @include button-text;

          content: 'Upload file';
          margin: 0;
          margin-top: -0.5rem;
          top: 50%;
        }

        input[type=file] {
          position: absolute;
          min-height: 100%;
          min-width: 100%;
          right: 0;
          top: 0;
          outline: 0;
          opacity: 0;
          filter: alpha(opacity=0);
          cursor: pointer;
        }
      }

      &::after {
        @include caption;

        content: 'Hover to see the selected file';
        bottom: 28px;
        left: 0;
        position: absolute;
      }
    }
  }

  .webforms__submit-box {
    text-align: right;

    button[type=submit] {
      @include btn;
      @include btn-primary;
    }
  }
}

.container {
  .webforms__success-message p {
    color: black;
  }
}
