@function rem($px) {
  @return ($px / 16) * 1rem;
}

@function line-steps($steps) {
  @return rem($steps * 4);
}

@mixin inner-margin($size) {
  margin-bottom: $size;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin font($style) {
  font-family: map-get($font-stacks, $style)
}

body {
  @include font(body);

  font-size: rem(16);
  line-height: line-steps(5);
  letter-spacing: rem(0.5);
  font-weight: 400;
}

p {
  margin: line-steps(1) 0;
}

@mixin h1 {
  @include font(heading);

  font-size: rem(96);
  line-height: line-steps(24);
  letter-spacing: rem(-1.5);
  margin: line-steps(4) 0;
  font-weight: 300;
}

@mixin h2 {
  @include font(heading);

  font-size: rem(60);
  line-height: line-steps(16);
  letter-spacing: rem(-0.5);
  margin: line-steps(4) 0;
  font-weight: 300;
}

@mixin h3 {
  @include font(heading);

  font-size: rem(48);
  line-height: line-steps(12);
  letter-spacing: 0;
  margin: line-steps(4) 0;
  font-weight: 400;
}

@mixin h4 {
  @include font(heading);

  font-size: rem(34);
  line-height: line-steps(9);
  letter-spacing: rem(0.25);
  margin: line-steps(3) 0;
  font-weight: 400;
}

@mixin h5 {
  @include font(heading);

  font-size: rem(24);
  line-height: line-steps(7);
  letter-spacing: 0;
  margin: line-steps(2) 0;
  font-weight: 400;
}

@mixin h6 {
  @include font(heading);

  font-size: rem(20);
  line-height: line-steps(6);
  letter-spacing: rem(0.15);
  margin: line-steps(1) 0;
  font-weight: 600;
}

@mixin sh1 {
  @include font(heading);

  font-size: rem(16);
  line-height: line-steps(5);
  letter-spacing: rem(0.15);
  margin: line-steps(1) 0;
  font-weight: 400;
  color: $color-muted;
}

@mixin sh2 {
  @include font(heading);

  font-size: rem(14);
  line-height: line-steps(4);
  letter-spacing: rem(0.1);
  margin: line-steps(1) 0;
  font-weight: 600;
  color: $color-muted;
}

@mixin small {
  font-size: rem(14);
  line-height: line-steps(4);
  letter-spacing: rem(0.25);
  margin: line-steps(2) 0;
  font-weight: 400;
  display: block;
}

@mixin button-text {
  font-size: rem(14);
  line-height: line-steps(4);
  letter-spacing: rem(0.75);
  margin: line-steps(1) 0;
  font-weight: 600;
  text-transform: uppercase;
}

@mixin caption {
  font-size: rem(12);
  line-height: line-steps(4);
  letter-spacing: rem(0.4);
  margin: line-steps(1) 0;
  font-weight: 400;
  color: $color-muted;
}

@mixin overline {
  font-size: rem(10);
  line-height: line-steps(4);
  letter-spacing: rem(1.5);
  margin: line-steps(1) 0;
  font-weight: 400;
  color: $ted-red;
  text-transform: uppercase;
}

@mixin bold {
  font-weight: 700;
}

@mixin italic {
  font-style: italic;
}

@mixin code {
  @include font(code);
}

pre {
  margin: 0 10%;
  width: 80%;
  max-width: 80%;
  overflow-x: scroll;
}

@mixin link {
  color: inherit;

  &:visited, &:active {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
    color: $color-link;
  }
}

@mixin link-plain {
  @include link;

  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

@mixin link-hot {
  @include link;

  &, &:hover, &:visited, &:active {
    color: $color-link;
  }
}

@mixin muted {
  color: $color-muted;
}

$export: true !default;
@if ($export) {
  h1 { @include h1 }
  h2 { @include h2 }
  h3 { @include h3 }
  h4 { @include h4 }
  h5 { @include h5 }
  h6 { @include h6 }
  .sh1 { @include sh1 }
  .sh2 { @include sh2 }
  small, .small { @include small }
  // Never export button style, see _buttons.scss
  .overline { @include overline }
  a { @include link }
  a.plain { @include link-plain }
  a.hot { @include link-hot }
  b, strong { @include bold }
  i, em { @include italic }
  pre, code { @include code }
}

// Media queries to follow
