/*********
 * FONTS *
 *********/

 // @import url('//fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Source+Sans+Pro:600,600i|Fira+Mono:400,700');
 // @import url('//fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');
 // @import url('//fonts.googleapis.com/css?family=Fira+Mono:400,700');

$font-stack-system:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-stack-serif: 'PT Serif', Constantia, 'Lucidia Bright', Georgia, serif;

$font-stack-sans: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

$font-stack-mono: 'Fira Mono', 'Lucida Console', 'Consolas', monospace;

$font-stacks: (
  menu:                 $font-stack-sans,
  heading:              $font-stack-sans,
  body:                 $font-stack-sans,
  code:                 $font-stack-mono
);

$font-size-base:        16px;

$font-line-height-sm:   1.375em;
$font-line-height-md:   1.375em;
$font-line-height-lg:   1.25em;

/**********
 * COLORS *
 **********/

// As per Pantone 485, this is correct; TED claims #e62b1e.
$ted-red:                   #da291c;

$color-muted:               lighten(black, 50%);

$color-footer:              #dddddd;
$color-footer-text:         lighten(black, 40%);

$color-header:              white;
$color-header-underscore:   $color-footer;
$color-header-shadow:       transparentize(black, 0.6);

$color-nav:                 black;
$color-nav-active:          $ted-red;

$color-link:                $ted-red;

$color-btn-outline:         $color-muted;
$color-btn-primary:         $ted-red;

$opacity-hover:             0.15;

/***********
 * OVERLAY *
 ***********/

$overlay-opacity:           0.5;
$overlay-blur:              3px;
$overlay-transition-time:   0.2s;
$overlay-transition-func:   ease-in-out;

/*********
 * OTHER *
 *********/

$card-border-radius:        0;

$hover-transition-time:     280ms;
