---
manualBreadcrumbs: true
---

{%- assign speakers = '' | split: '' -%}
{%- assign speakerKeys = page.speakers | uniq -%}
{%- assign numSpeakers = speakerKeys | size -%}

{%- for key in speakerKeys -%}
  {%- assign potentialSpeakers = site.speakers | where: "slug", key -%}
  {%- assign foundSpeaker = false -%}

  {%- for potentialSpeaker in potentialSpeakers -%}
    {%- assign testSlug = potentialSpeaker.id | split: "/" -%}

    {%- if testSlug[2] == page.slug -%}
      {%- assign speakers = speakers | push: potentialSpeaker -%}
      {%- assign foundSpeaker = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless foundSpeaker -%}
    {%- assign numSpeakers = numSpeakers | minus: 1 -%}
  {%- endunless -%}
{%- endfor -%}

{%- capture newline %}
{% endcapture -%}

{%- capture bcPages -%}
/events
/events/{{ page.slug }}
{%- endcapture -%}

{%- capture bcNames -%}
Events
{{ page.title }}
{%- endcapture -%}

{%- assign bcPages = bcPages | split: newline -%}
{%- assign bcNames = bcNames | split: newline -%}

<!DOCTYPE html>
<html lang="en-GB">
<head>
  {% include page/links.html %}
  <script type="application/javascript" src="{{ "/assets/js/event.js" | relative_url }}"></script>
  <script type="application/ld+json">
  {% include json-ld/breadcrumbs.json pages=bcPages names=bcNames %}
  </script>
  <script type="application/ld+json">
  {% include json-ld/event.json event=page.slug speakers=speakers %}
  </script>
  <style type="text/css">
  {% if page.bannerFill -%}
    #banner {
      background-color: #{{ page.bannerFill }};
    }
  {%- endif %}
  </style>
</head>
<body>
  <div id="content">
    {% include page/header.html %}
    <main>
      {% assign bannerImgAttrKeys = 'class' | split: ' ' -%}
      {% assign bannerImgAttrVals = 'banner-img' | split: ' ' -%}
      {% assign bannerImgName = 'events/' | append: page.slug | append: '/banner' -%}
      {% capture bannerImg -%}
        {% include img.html
                   img=bannerImgName
                   alt=page.title
                   attrKeys=bannerImgAttrKeys
                   attrVals=bannerImgAttrVals
         %}
      {%- endcapture -%}
      {% if bannerImg -%}
      <div id="banner" class="banner{% if page.bannerFill %} banner-backfill{% endif %}">
        <div class="container">
          {{ bannerImg }}
        </div>
      </div>
      {%- endif %}
      <div class="container">
        <h2>{{ page.title }}</h2>
        {{ content }}
        <section id="speakers">
          <h4>The speakers</h4>
          {% if speakers.size > 0 -%}
          <div class="speakers">
            {% for speaker in speakers -%}
            <div class="card" data-slug="{{ speaker.slug }}">
              {% assign headshotImgAttrKeys = 'class' | split: ' ' -%}
              {% assign headshotImgAttrVals = 'headshot' | split: ' ' -%}
              {% assign headshotImgName = 'speakers/' | append: page.slug | append: '/' | append: speaker.slug -%}
              {% include img.html
                         img=headshotImgName
                         alt=speaker.title
                         attrKeys=headshotImgAttrKeys
                         attrVals=headshotImgAttrVals
               %}
              <div class="text">
                {% if speaker.tags -%}
                  <div class="overline">{{ speaker.tags | join: "&emsp;" }}</div>
                {%- endif %}
                <h6>{{ speaker.title }}</h6>
                {% if speaker["short-bio"] -%}
                  <div class="caption">{{ speaker["short-bio"] }}</div>
                {%- endif %}
                {% if speaker.talk -%}
                  <div class="small">{{ speaker.talk }}</div>
                {%- endif %}
              </div>
              {% if speaker.video -%}
                <div class="actions">
                  <!-- <img src="//img.youtube.com/vi/{{ speaker.video }}/mqdefault.jpg"> -->
                  <!-- <a class="button" role="button" href="https://www.youtube.com/watch?v={{ speaker.video }}">Watch Video</a> -->
                </div>
              {%- endif %}
            </div>
            {% endfor %}
          </div>
          {%- else -%}
          <div class="sh1">We haven't announced any speakers for this event yet. Stay tuned for further details!</div>
          {%- endif %}
        </section>
        {% if page.location -%}
        {%- assign location = site.data.locations[page.location] -%}
        <section id="location">
          <h4>Location</h4>
          <div class="map">
            <iframe src="{{ location.map }}" allow="fullscreen"></iframe>
          </div>
        </section>
        {%- endif %}
      </div>
    </main>
    {% include page/footer.html %}
  </div>

  <div id="overlay"></div>

  {% for speaker in speakers -%}
  <div id="popover-{{ speaker.slug }}" class="popover popover-hidden">
    <div class="popover-wrap">
      <div class="popover-content">
        <div class="popover-sidebar">
          {% assign headshotImgAttrKeys = 'class' | split: ' ' -%}
          {% assign headshotImgAttrVals = 'popover-headshot' | split: ' ' -%}
          {% assign headshotImgName = 'speakers/' | append: page.slug | append: '/' | append: speaker.slug -%}
          {% include img.html
                     img=headshotImgName
                     alt=speaker.title
                     attrKeys=headshotImgAttrKeys
                     attrVals=headshotImgAttrVals
           %}

          <div class="popover-text">
            {% if speaker.tags -%}
              <div class="overline">{{ speaker.tags | join: "&emsp;" }}</div>
            {%- endif %}

            <h6>{{ speaker.title }}</h6>

            {% if speaker['short-bio'] -%}
              <div class="caption">{{ speaker['short-bio'] }}</div>
            {%- endif %}
          </div>
        </div>
        <div class="popover-body">
          {% if speaker.video -%}
            <div class="popover-video">
              <img src="//img.youtube.com/vi/{{ speaker.video }}/maxresdefault.jpg">
              {% assign videoUrl = 'https://www.youtube.com/embed/' | append: speaker.video -%}
              <iframe class="ytembed" data-src="{{ videoUrl }}" frameborder="0" allowfullscreen></iframe>
            </div>
          {%- endif %}

          <div class="popover-text">
            {% if speaker.talk -%}
              <h5>{{ speaker.talk }}</h5>
            {%- endif %}

            {{ speaker.content | markdownify }}
          </div>
        </div>
      </div>
      <div class="close"></div>
    </div>
  </div>
  {%- endfor %}

  {% if page.script.size > 0 -%}
    <script type="application/javascript">{{ page.script }}</script>
  {%- endif %}
</body>
</html>
