---
layout: default
scripts:
  - form
---

{{ content }}

{% capture formUrl -%}
  https://podio.com/webforms/{{ page.podio.app }}/{{ page.podio.form }}
{%- endcapture %}

{% capture embedUrl -%}
  {{ formUrl }}?e=true#{{ site.url }}{{ page.url | relative_url }}
{%- endcapture %}

<div class="form-embed loading" id="podio-webform-wrapper">
  <div class="loading-overlay">
    <div class="loading-text">Loading</div>
    <div class="timeout-content">
      <a href="{{ formUrl }}" class="btn btn-text timeout-btn">Not working?</a>
    </div>
  </div>
  <iframe class="podio-webform-frame" id="podio-webform" height="200" data-src="{{ embedUrl }}"></iframe>
</div>

{% comment %}
<!-- BEGIN Podio web form -->
<script src="https://podio.com/webforms/21577376/1502009.js"></script>
<script type="text/javascript">
  _podioWebForm.render("1502009")
</script>
<noscript>
  <a href="https://podio.com/webforms/21577376/1502009" target="_blank">Please fill out the form</a>
</noscript>
<div class="podio-webform-container">
  A webform by <a href="https://podio.com" class="podio-webform-inner" rel="nofollow">Podio</a>
</div>
<!-- END Podio web form -->
{% endcomment %}
