<!DOCTYPE html>
<html lang="en-GB">
<head>
  {% include page/links.html %}
  {% if page.style -%}
    <style type="text/css">{{ page.style }}</style>
  {%- endif %}

  {%- assign styles = '' | split: '' -%}
  {%- if page.styles -%}
    {%- assign styles = styles | concat: page.styles -%}
  {%- endif -%}
  {%- if layout.styles -%}
    {%- assign styles = styles | concat: layout.styles -%}
  {%- endif -%}
  {% for style in styles -%}
    {% assign styleFile = '/assets/css/' | append: style | append: '.css' | relative_url -%}
    <link type="text/css" rel="stylesheet" href="{{ styleFile }}">
  {%- endfor %}

  {%- assign scripts = '' | split: '' -%}
  {%- if page.scripts -%}
    {%- assign scripts = scripts | concat: page.scripts -%}
  {%- endif -%}
  {%- if layout.scripts -%}
    {%- assign scripts = scripts | concat: layout.scripts -%}
  {%- endif -%}
  {% for script in scripts -%}
    {% assign scriptFile = '/assets/js/' | append: script | append: '.js' | relative_url -%}
    <script type="application/javascript" src="{{ scriptFile }}"></script>
  {%- endfor %}
</head>
<body>
  <div id="content">
    {% include page/header.html %}
    <main>
      {{ content }}
    </main>
    {% include page/footer.html %}
  </div>
  <div id="overlay"></div>
  <div class="fb-customerchat"
    attribution="setup_tool"
    page_id="{{ site.fb-page-id }}"
    theme_color="#da291c"
    logged_in_greeting="Questions? We’re here to answer them."
    logged_out_greeting="Questions? We’re here to answer them.">
  </div>
</body>
</html>
